.elements__items-basket-btn {
  position: absolute;
  outline: none;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: none;
  top: 18px;
  right: 15px;
}

.elements__items-basket-btn:hover {
  opacity: 0.6;
}
