.popup__form-btn {
  width: 358px;
  height: 50px;
  background: #000000;
  color: #fff;
  border-radius: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  outline: none;
  border: none;
  margin: 25px 0 37px 0;
  cursor: pointer;
}

.popup__form-btn:hover {
  opacity: 0.8;
}

.popup__form-btn:disabled {
  background: #FFFFFF;
opacity: .2;
color: #000000;
cursor: none;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 2px;
}

@media (max-width: 767px) {
  .popup__form-btn {
    width: 100%;
    height: 46px;
  }
}
