.popup__close-btn {
  position: absolute;
  top: -48px;
  right: -48px;
  background: #fff0;
  border: none;
  outline: none;
  cursor: pointer;
}

.popup__close-btn:hover {
  opacity: 0.6;
}

@media (max-width: 767px) {
  .popup__close-btn {
    right: 0;
  }
}
