.popup__form-name {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  border: 0;
  border-bottom: 1px solid #0000004a;
  padding-bottom: 13px;
  outline: none;
}

@media (max-width: 767px) {
  .popup__form-name {
    margin-bottom: 25px;
  }
}
